.page {
    background-color: #4a51b9;
}

.container {
    width: 1920px;
    margin: 0 auto;
    padding-inline: 25px;
    overflow: hidden;
}


/* Header */

.header {
    padding: 20px 25px 5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    outline: 1px solid #fff;
}

.header__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu-img {
    width: 25px;
    height: 25px;
}

.header__bell {
    position: relative;
}

.header__bell::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #b73154;
    border-radius: 50%;
    z-index: 1;
}

.header__bell-img {
    position: relative;
    width: 25px;
    height: 25px;
}

/* Main */

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 5px solid #78b4e6;
}

.main__title {
    padding-block-start: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #828282;
    text-align: center;
    opacity: 0.8;
}


.main__count {
    padding-block-end: 30px;
    display: flex;
    flex-direction: column;
}

.main__number {
    font-size: 48px;
    font-weight: 700;
    color: #4a51b9;
    letter-spacing: 1px;
}

.main__subnumber {
    font-size: 16px;
    color: #828282;
    opacity: 0.8;
}

.main__count-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.main__count-left {
    display: flex;
    flex-direction: column;
}

.main__button-swiper {
    position: relative;
    min-width: 90px;
    height: 40px;
    background-color: #4a51b9;
    border-radius: 30px;
}

.main__button-swiper::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
}

.main__statistics {
    display: block;
    text-align: right;
    font-size: 16px;
    color: #4a51b9;
    text-transform: lowercase;
}

.main__cards {
    position: absolute;
    top: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block-end: 100px;
}

.main__cards-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    gap: 10px;
    background-color:  #e1ebed;
    padding: 10px;
}

.main__cards-item-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main__cards-item-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cards__item-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.cards__item-price {
    display: flex;
    flex-direction: column;
}

.cards__item-number {
    font-size: 36px;
    color: #828282;
}

.cards__item-subnumber {
    font-size: 16px;
    color: #828282;
}

.cards__item-circles {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.cards__item-circles-circle {
    width: 5px;
    height: 5px;
    background-color: #4a51b9;
    border-radius: 50%;
}

.cards__item-circles-circle:first-child, .cards__item-circles-circle:last-child {
    background-color: #828282;
}

.cards__item-position {
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
}

.cards__item-arrow {
    width: 30px;
    height: 30px;
}

.cards__item-options {
    position: absolute;
    top: 7px;
    right: 7px;
    display: flex;
    gap: 3px;
}

.cards__item-options-circle {
    width: 5px;
    height: 5px;
    background-color: #4a51b9;
    border-radius: 50%;
}

.main__pages {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main__page-circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.main__page-circle:hover {
    background-color: #75aef5;
    transition: background-color 0.5s ease-in-out;
}

.main__page-circle-active {
    background-color: #75aef5;
}

@media (width <= 350px) {
    .main__cards-item {
        padding: 5px;
        gap: 5px;
        width: 320px;
    }
}

@media (width <= 330px) {
    .main__cards-item {
        padding: 3px;
        gap: 0;
        width: 310px;
    }

    .cards__item-options {
        top: 5px;
        right: 5px;
    }
}

@media (width >= 768px) {
    .header {
        padding: 20px 25px 5px;
    }

    .header__menu-img {
        width: 35px;
        height: 35px;
    }

    .header__bell-img {
        width: 35px;
        height: 35px;
    }

    .header__bell::before {
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
    }

    .main__title {
        font-size: 24px;
    }

    .main__number {
        font-size: 52px;
    }

    .main__subnumber {
        font-size: 18px;
    }

    .main__cards {
        top: 210px
    }

    .main__cards-item {
        width: 718px;
        padding: 10px 50px;
        justify-content: space-between;
    }

    .cards__item-img {
        width: 80px;
        height: 80px;
    }

    .cards__item-number {
        font-size: 40px;
    }

    .cards__item-subnumber {
        font-size: 16px;
    }

    .cards__item-circles-circle {
        width: 8px;
        height: 8px;
    }

    .cards__item-position {
        width: 80px;
        height: 80px;
    }

    .cards__item-arrow {
        width: 35px;
        height: 35px;
    }

    .cards__item-options {
        top: 10px;
        right: 10px;
    }
}

@media (width >= 1024px) {
    .main__count {
        padding-inline: 130px;
    }
}

@media (width >= 1280px) {
    .container {
        padding-inline: 65px;
    }

    .main__title {
        font-size: 32px;
    }

    .main__cards-item {
        width: 900px;
    }
}

@media (width >= 1440px) {
    .header__menu-img, .header__bell-img {
        width: 45px;
        height: 45px;
    }

    .header__bell::before {
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
    }

    .main__cards-item {
        width: 1100px;
    }

    .main__cards {
        gap: 25px;
    }
}

@media (width >= 1600px) {
    .container {
        padding-inline: 125px;
    }
}

@media (width >= 1800px) {
    .container {
        padding-inline: 230px;
    }
}